_site/
.sass-cache/
.jekyll-cache/
Gemfile.lock
*.DS_Store
*.texpadtmp
*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.sublime-project
*.sublime-workspace
*.swp
.jekyll-metadata
*.pdf
*~
_2017S
.nsf*
Makefile
.bundle
_sandbox
*.bak
